body.loader--loading:before {
	font-size: 1.5em;
	font-weight: bold;
	background-size: 4%;
	padding: 25%;
	background-position: center 40%;
}

.loader--loading:before {

        content: attr(data-loader-caption);
        text-align: center;
		vertical-align: middle;
        color: black;

        cursor: wait;
        padding: 0;
        z-index: 1000;
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;

        background-color: rgba(255,255,255,0.5);
        background-repeat: no-repeat;
        background-position: center 30%;

		background-image: url('loader.svg?s=2');

}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}
